[general]
name=HUSB_PlugIn_VERIF_INFRA
qgisMinimumVersion=3.0
qgisMaximumVersion=3.99
description=Plugin QGIS pour détecter les doublons géométriques et les doublons de noms dans toutes les couches
version=1.0
author=Sylvius NITIEMA
email=sylviusnitiema40@gmail.com
about=Ce plugin contrôle les couches du projet QGIS afin de détecter les entités en doublon (géométrie et attributs NOM).
category=Vector
tags=HUSB,doublons,contrôle,infrastructure,validation
tracker=https://github.com/SylviHUSB/PLUGIN/issues
repository=https://github.com/SylviHUSB/PLUGIN
homepage=https://github.com/SylviHUSB/PLUGIN
